<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search book Record</title>
    <link rel="stylesheet" href="{% static 'css/BRMstyle.css' %}">
  </head>
  <body>
    <div id="header">
        <h1>Book Record Management</h1>
        <div id="nav">
          <a href="/BRMapp/view-books">View all</a>
          <a href="/BRMapp/new-book">Add Book</a>
          <a href="/BRMapp/search-book">Search Book</a>
          <a href="/BRMapp/logout">logout</a>
        </div>
    </div>
    <div id="main">
      <h2>Search_book Record</h2>
      <form action="BRMapp/search" method='post'>
        {% csrf_token %}
        {{form}}
        <input type="submit" value='Search'>
      </form>
      {% if books %}
        <table>
          <thead>
            <th>BOOK TITLE</th>
            <th>price</th>
            <th>author</th>
            <th>publisher</th>
          </thead>
      {% endif %}
      {% for book in books %}
      <tr>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
      </tr>
      {% endfor %}
    </table>
    </div>
  </body>
</html>
